---
import "../../styles/style.css";
const products = [
{
    name: "L’ANGE GARDIEN RAFAEL",
    images: ["/images/gardian_angel.jpeg"],
    description: "Antonio Carracci, vers 1583 Venise – 1618 Rome. L’ANGE GARDIEN RAFAEL. Huile sur toile. 152 × 110 cm. Ci-joint une copie de l’expertise du Dr. D. Stephen Pepper, Leesburg. Représentation imposante, presque dans une conception symboliste. Le tableau montre un ange marchant vers la droite, le torse tourné vers un jeune garçon qu’il guide délicatement de la main gauche et qui regarde à son tour vers la lumière. Le pied gauche de l’ange marche sur la nuque d’une figure diabolique, qui est un nu masculin allongé sur le sol, une corne de diable dépassant de ses cheveux noirs. L’éclairage provenant du haut à droite jette un coup de projecteur théâtral sur le groupe de personnages, tandis que les ailes brillamment éclairées s’illuminent devant le coin supérieur sombre. La signification théologique de l’ange gardien a été reprise, en particulier au XVIIe siècle, dans les œuvres picturales des décors d’église et trouve ici une conception expressive dans le présent tableau. Selon certaines sources, le peintre serait le fils d’Agostino Carracci et un neveu d’Annibale Carracci, avec lequel il participait à des travaux de décoration dans la Galleria Farnese. --- Antonio Carracci, 1583 Venise – 1618 Rome. ARCHANGE RAPHAEL. Huile sur toile. 152 × 110 cm. Accompagné du rapport d’expert du Dr. D. Stephen Pepper, Leesburg, en copie."
  },
  {
    name: "Four panels depicting Parables for the Chapel at Tatton Park",
    images: ["/images/4_panels_1.jpeg","/images/4_panels_2.jpeg","/images/4_panels_3.jpeg","/images/4_panels_4.jpeg"],
    description: "WILLIAM GEORGE RICH (Oxford 1857 – 1921 London?) Four panels depicting Parables for the Chapel at Tatton Park, Cheshire, c.1884 - The Parable of the Lost Sheep; The Parable of the Talents; The Parable of the Great Supper; The Parable of the Prodigal Son. Set of four panels – all oil on canvas. The Parable of the Talents inscribed on the stretcher – Lord Egerton. Dimensions: The Parable of the Great Supper: 81 x 277 cm / 31 ⅔ x 109 in; The Parable of the Lost Sheep: 81 x 205 cm / 31 ⅔ x 80 ¾ in; The Parable of the Prodigal Son: 81 x 205 cm / 31 ⅔ x 80 ¾ in; The Parable of the Talents: 81 x 277 cm / 31 ⅔ x 109 in. Provenance: Commissioned by Wilbraham Egerton, 1st Earl Egerton for the new family chapel at Tatton Park, Cheshire, c.1884; sold mid 20th century; private collection, Italy. This set of parables formerly decorated the chapel at Tatton Park in Cheshire, home to the Egerton family; its interior was described by Country Life in 1906 as decorated in the Italian style with walnut stalls carved at Vicenza, stained-glass angels after Fra Angelico, Rich’s parable paintings from Heaton and Butler adorning the walls, and wrought iron entrance gates with vine leaves and grapes picked out in blue and gold."
  },
  {
    name: "Portrait de femme à la poitrine dénudée",
    images: ["/images/student_french.jpeg"],
    description: "École française du 19ème siècle, \"Portrait de femme à la poitrine dénudée\", pastel sur papier (ovale), 60.5 x 49 cm, encadré sous verre"
  },
  {
    name: "Portrait d'une jeune fille en costume italien",
    images: ["/images/student_native.jpeg"],
    description: "Passini, Ludwig Johann (1832 Vienne - 1903 Venise, élève de son père Johann, formation poursuivie à Vienne et Venise, peintre à l'aquarelle et à l'huile actif à Rome entre 1853 et 1870, spécialisé dans les scènes de genre et portraits), \"Portrait d'une jeune fille en costume italien\", aquarelle sur papier, signée et datée en haut à droite \"Ludwig Passini 1880\", 16 x 21 cm (RA)"
  },
  {
    name: "Troupeau de buffles",
    images: ["/images/buffalo.jpeg"],
    description: "Jung-Ilsenheim, Franz Xaver (1883 - 1963), \"Troupeau de buffles\", gouache sur papier, signée en bas à gauche \"F. Jung-Ilsenheim\", 27 x 39 cm (RA), encadré sous verreMixed media canvas artwork."
  },
  {
    name: "Scène d’assaut orientaliste",
    images: ["/images/assault_orient.jpeg"],
    description: "Ecole Française du XIXème, Scène d’assaut orientaliste. Dessin à la plume, lavis d’encre et aquarelle sur traits de pierre noire sur papier filigrané. Hauteur : 24.5 cm Largeur : 35 cm"
  },
  {
    name: "Mosquée Sultan Hamet",
    images: ["/images/mosque.jpeg"],
    description: "Jozef PAWLIKIEWICZ (1894-1930) Mosquée Sultan Hamet (mosquée Bleue), Istanbul Aquarelle sur papier Signée, située et datée 930 en bas à gauche 43 x 28,5 cm"
  },
  {
    name: "ORIENTAL A LA BARBE BLONDE",
    images: ["/images/blond_beard.jpeg"],
    description: "ÉCOLE ORIENTALISTE (XIXE SIÈCLE) ORIENTAL A LA BARBE BLONDE ORIENTAL MAN WITH A BLOND BEARD Crayon et aquarelle sur papier, de forme ovale. Trace de signature en bas à droite. DIM. (VUE) 34 X 22 CM (13 3/8 X 8 11/16 IN.)"
  }
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>StoltGallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>

  <body class="texture-bg">
    
    <div class="lang-switch">
        <a href="/">🇫🇷</a>
        <span>|</span>
        <a href="/en/">🇬🇧</a>
    </div>
    
    <!-- Title -->
    <section class="intro">
    
      <h1>Stolt Gallery</h1>

      <h2>History</h2>

      <p class="lead">
        Un dialogue entre les siècles, les techniques et les sensibilités.
      </p>
      <br>
      <p>
        D’un maître italien du XVIIe siècle à un designer suisse du XXIe,
        que peut-il exister en commun ?
      </p>
      <br>
      <p>
        Stolt Gallery rassemble des œuvres qui partagent un même goût :
        une recherche de beauté intemporelle, indépendante des époques
        et des disciplines.
      </p>

      <p>
        Certaines œuvres sont naïves, d'autres nous poussent à l’introspection.
        Toutes invitent à une rencontre avec un univers intérieur parfois
        insoupçonné.
      </p>

      <p>
        L’art peut nous troubler, nous élever, nous apaiser, ou simplement
        faire taire le brouhaha de l’esprit. La contemplation, ultimement,
        nous renseigne sur nous-mêmes.
      </p>
      <br>
      <p>
        L’ambition de Stolt est de créer un dialogue harmonieux entre
        les œuvres, leurs artistes et vous.
      </p>
    </section>


    <hr class="divider">

    <!-- Art Gallery -->
    <section>
      <h2>Gallery</h2>

      <div class="gallery">
        {products.map((product, i) => (
          <figure class="art">
            <img
              src={product.images[0]}
              alt={product.name}
              class="cursor-pointer"
              onclick={`document.getElementById('modal-${i}').showModal()`}
            />
      
            <dialog id={`modal-${i}`} class="p-0 rounded-lg backdrop:bg-black/70">
              
              <div class="max-w-4xl w-full">
      
                <!-- IMAGES -->
                <div class="flex flex-col gap-2">
                  {product.images.map((img) => (
                    <img
                      src={img}
                      class="w-full object-cover"
                    />
                  ))}
                </div>
      
                <!-- TEXT -->
                <div class="p-4">
                  <h2 class="font-semibold mb-2">{product.name}</h2>
                  <p class="text-sm">{product.description}</p>
                </div>
      
                <!-- CLOSE -->
                <form method="dialog">
                  <button class="absolute top-2 right-2 bg-black/60 text-white rounded-full w-8 h-8">
                    ✕
                  </button>
                </form>
      
              </div>
      
            </dialog>
          </figure>
        ))}
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <p>Follow our latest acquisitions on Instagram</p>

      <div class="socials">
        <a href="https://www.instagram.com/stolt.gallery" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>

      <p style="margin-top:20px;font-size:0.8rem;">
        © {new Date().getFullYear()} Stolt Gallery
      </p>
    </footer>
  </body>
</html>